.wrapper {
    width: 100%;
    background-color: #f8f7f4;
}

//------------Product-Section--------------------------------

.productDetail-section {
    padding: 46px 16px;
    background: linear-gradient(rgba(78, 90, 177, 0.15) 0%, rgba(22, 26, 33, 0) 100%);
}

.productDetail-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productDetail-boxWrapper {
    margin: 25px 0 0;
    width: 458px;
}

.productDetail-boxContent {
    background: linear-gradient(180deg, #f8f7f4, hsla(45, 22%, 96%, 0));
    padding: 30px;
}

.productDetail-subname {
    font-weight: lighter;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    color: #161a21;
    opacity: 0.6;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.productDetail-name {
    font-size: 3.2rem;
    line-height: 3.2rem;
    padding: 12px 0 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #161a21;
    font-weight: 400;
    text-transform: uppercase;
}

.productDetail-priceRating {
    display: flex;
    justify-content: center;
}

.productDetail-boxPrice {
    display: flex;

    .boxPrice-price {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.6rem;
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        color: #161a21;
        margin: 0 8px 0 0;
    }

    .boxPrice-priceRegular {
        letter-spacing: 0.02em;
        text-decoration-line: line-through;
        color: #161a21;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        line-height: 1.2rem;
        opacity: 0.6;
        margin: 0 8px 0 0;
    }
}

.productDetail-boxRating {
    display: flex;

    .boxRating-rating {
        margin: 0 0 0 8px;
    }

    .boxRating-total {
        font-size: 1.4rem;
        line-height: 1.4rem;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #161a21;
        margin: 0 0 0 6px;
    }
}

.starRating-wrapper {
    direction: ltr;
    display: inline-block;
    touch-action: none;
}

.simpleStarRating {
    display: inline-block;
    overflow: hidden;
    position: relative;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.startIcon-empty {
    color: rgb(204, 204, 204);
    display: inline-block;
   
}

.startIcon-fill {
    left: 0px;
    color: rgb(247, 215, 47);
    width: 0%;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.start-icon{
    display: inline-block;
    position: relative;
    top: -2px;
}

.productDetail-statusSize {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    align-items: center;
}

.status-wrapper {
    flex: unset;
    padding: 0 20px 0 0;
    text-align: center;
}

.status-btn {
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 0.02em;
    color: #161a21;

    span {
        color: rgb(59, 177, 0);
    }
}

.size-btn {
    cursor: pointer;
    font-style: italic;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #161a21;
    padding: 5px 0 5px 20px;
    border: none;
    border-left: 1px solid #d6d6d4;

    .size-icon {
        margin: 0 8px 0 0;
    }
}

.productDetail-line {
    width: 100%;
    height: 1px;
    background: #d6d6d4;
}

.productDetail-boxButton {
    display: flex;
    flex-direction: column;
}

.buyNow-btn {
    background: #53c66e;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    letter-spacing: -0.02em;
    color: #f8f7f4;
    border: none;
    padding: 22px 0;
    transition: 0.3s ease-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.01);
    }
}

.addToCart-btn {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: 22px 0;
    text-align: center;
    letter-spacing: -0.02em;
    color: #161a21;
    border: 1px solid #161a21;
    margin: 16px 0 0;
    transition: 0.3s ease-out;
    cursor: pointer;

    &:hover {
        background-color: #161a21;
        color: #fff;
    }
}

//------------------------Policy-Section--------------------------

.policy-section {
    padding: 20px 0;
    background-color: #ecebea;
}
.policy-container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.policy-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.policy-content {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
    color: #161a21;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 42px;
}
.policy-icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
}
.policy-text {
}

//-----------------------------------ProductInfo-Section-----------------------------

.productInfo-section{
    padding: 80px 30px 16px;
}

.review-container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.review-header{
    display: flex;
    justify-content: space-between;
    padding: 0 0 15px;
}

.review-boxTitle{

}

.review-title{
    font-size: 3.2rem;
    line-height: 3.2rem;
    padding: 0 0 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .02em;
    color: #161a21;
    margin: 0;
}

.review-boxDescription{
    display: flex;
}

.review-boxNumber{
    padding: 0 0 0 12px;
    margin: 4px 0 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    display: flex;
    align-items: center;
    letter-spacing: .02em;
    color: #161a21;
}

.review-boxButton{
    display: flex;
    align-items: center;
}

.review-btn{
    cursor: pointer;
    width: 200px;
    height: 50px;
    border: 1px solid #161a21;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    letter-spacing: -.02em;
    color: #161a21;
    transition: .3s ease-out;

    &:hover{
        color: #fff;
        background-color: #161a21;
    }
}

.review-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxReview-item{
    width: calc((100% - 50px)/3);
    min-height: 100%;
    display: flex;
}

.boxReview-wrapper{
    width: 100%;
    padding: 28px;
    background: #f8f7f4;
    box-shadow: 0 0 40px rgb(0 0 0 / 10%);
    margin: 30px 0 0;
    display: flex;
    flex-direction: column;
}

.boxReview-rating{
    display: flex;
    justify-content: space-between;

    .review-time{
        font-size: 1.4rem;
        line-height: 1.4rem;
        display: flex;
        align-items: center;
        text-align: right;
        letter-spacing: .02em;
        color: #161a21;
        margin: 0;
    }
}

.boxReview-title{
    padding: 20px 0 16px;

    .boxReview-title-text{
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        letter-spacing: .02em;
        margin: 0;
        color: #161a21;
    }
}

.boxReview-detail{
    padding: 0 0 28px;
    flex: 1;

    .boxReview-detail-text{
        font-size: 1.4rem;
        line-height: 2.1rem;
        letter-spacing: .02em;
        color: #161a21;
        margin: 0;
    }
}

.boxReview-boxInfo{
    display: flex;

    .boxReview-avatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c4c4c4;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 500;
        color: #fff;
    }

    .boxReview-info{
        padding: 0 0 0 12px;
        display: flex;
        flex-direction: column;
        
        .boxReview-name{
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 2rem;
            letter-spacing: .02em;
            color: #161a21;
            margin: 0;
        }

        .boxReview-verify{
            font-size: 1.2rem;
            line-height: 2rem;
            letter-spacing: .02em;
            color: #161a21;
            opacity: .6;
            margin: 0;
        }
    }
}



//-------------------------------Review-Section----------------------------------------

.review-section{
    padding: 60px 16px 150px;
}

//---------------RELATEPRODUCT-SECTION-----------------------------------------------------

.relateProduct-section {
    padding: 0 16px;
    padding-bottom: 30px;
}

.relateProduct-wrapper {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.relateProduct-title {
    font-size: 3.2rem;
    line-height: 3.2rem;
    padding: 0 0 70px;
    font-weight: 400;
    margin: 0;
    text-align: center;
    letter-spacing: 0.02em;
    color: #161a21;
}

//---------------------------Slider-Section----------------------------------------

.slider-section {
    padding-top: 130px;
}
.slider-header {
}
.slider-title {
    font-size: 3.2rem;
    line-height: 3.2rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}
.slider-subtitle {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;
}
.slider-body {
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 3px;
}




//---------------SrollTop Button----------------

.scrollToTop {
    position: relative;
}

.scrollToTop-btn {
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    background-color: #000;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        animation: none;
        opacity: 1;
    }
}

.topArrowIcon {
    transform: rotate(-90deg);
}
