.wrapper{
    padding: 20px 0 20px 16px;
}
.boxContent{

}

.title{
    margin: 14px 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: .02em;
    color: #161a21;
}

.text{
    margin: 14px 0;
    font-weight: 600;
    line-height: 2.1rem;
    font-size: 1.4rem;
    letter-spacing: .02em;
    color: #161a21;
}

.boxImg{
    padding: 15px 0;
    
}

.img-icon{
    display: inline-block;
    width: 48px;
    padding: 0 10px 7px 0;
}

.text-list{
    margin: 14px 0;
    line-height: 2.1rem;
    font-size: 1.4rem;
    letter-spacing: .02em;
    color: #161a21;
}

@media only screen  and (max-width:1024px){
    .wrapper{
        padding: 20px 0 15px;
    }
    
}