.wrapper {
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9;
}

.inner {
    width: 100%;
    background-color: #f8f7f4;
    height: auto;
    max-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0 1px 5px rgb(0 0 0 / 5%), 0 1px 5px rgb(0 0 0 / 5%);
    animation: slideoff ease 0.5s;
}

.inner.animation {
    animation: fadeOut linear 0.3s 0.3s forwards;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 100%;
    max-width: 1170px;
    height: 352px;
}

.search-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.space {
    width: 43px;
}

.search {
    position: relative;
    width: 570px;

    input {
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.02em;
        text-align: left;
        width: 100%;
        line-height: 32px;
        border-bottom: 1px solid #161a21;
        padding-right: 16px;
    }

    .clear-btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .clear-icon {
        font-size: 1.6rem;
        color: rgba(22, 26, 33, 0.667);
    }
}

.close {
    display: flex;
    align-items: center;
}

.close-btn {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #161a21;
    color: #000;
}

.search-body {
}

@keyframes slideoff {
    from {
        transform: translateY(-432px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        transform: translateY(-432px);
        opacity: 0;
    }
}
