.wrapper {
    width: 100%;
    background-color: #f8f7f4;
}

//------------Banner-Section--------------------------------
.banner-section {
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
}

.banner-section-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.banner-section-content {
    position: relative;
    width: 100%;
    max-width: 1170px;
    min-height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 92px;
    padding-bottom: 32px;
    display: flex;
    color: #fff;
}

.banner-section-content-left,
.banner-section-content-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pretitle-content-left {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 8px;
    font-style: normal;
}

.title-content-left {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 12px;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
}



.description-content-left {
    font-family: SVN-Gotham;
    font-size: 1.4rem;
    line-height: 2rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 40px;
    max-width: 370px;
}


.link-content-left {
    min-width: 200px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border: 1px solid #f8f7f4;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.4rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: center;
    padding: 18px 24px;
    transition: all 0.3s ease;

    &:hover {
        background: #f8f7f4;
        color: #161a21;
    }
}

.bestSeller-content{
}
//------------------------Policy-Section--------------------------

.policy-section {
    padding: 20px 0;
    background-color: #ecebea;
}

.policy-container-mobile{
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.policy-container-desktop {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.policy-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.policy-content {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
    color: #161a21;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 42px;
}
.policy-icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
}
.policy-text {
}

//--------------CATEGORY-SECTION-------------------------------------
.category-section {
    width: 100%;
    padding: 30px 16px 32px 16px;
}
.category-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

// .category-box{
//     width: 100%;
// }
.category-link {
    background-size: cover;
    background-position: center center;
    height: 260px;
    // width: 388px;
    width: 33.33%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &:hover .category-btn {
        background-color: #fff;
        color: #000;
    }

    & + .category-link {
        margin-left: 3px;
    }
}
.category-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f8f7f4;
}
.category-text {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    font-style: normal;
    
}


.category-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid #fff;
    border-radius: 100%;
    background: transparent;
    transition: all 0.3s ease;
}



//----------------------------BestSeller-Section----------------------------
.menBestSeller-section {
    margin: 100px 0px;
}

.womenBestSeller-section {
    margin-top: 100px;
    padding-bottom: 100px;
}

.bestSeller-container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.bestSeller-title {
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 3.2rem;
    letter-spacing: 0.02em;
    padding: 0 0 28px;
    text-transform: uppercase;
}

.bestSeller-seeAll {
    margin-bottom: 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.bestSeller-seeAll-test {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    letter-spacing: 0.02em;
    color: #161a21;
}

.bestSeller-seeAll-icon {
    display: inline-flex;
    align-items: center;
    margin: 0 0 0 8px;
}

.bestSeller-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.bestSeller-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

//--------------------------------------Story-section-----------------------

.story-section {
    padding: 0 16px;
}
.story-container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.story-logo {
    width: 37px;
    display: block;
    position: relative;
    margin: 0 auto 20px;
}
.story-content {
}
.story-title {
    padding: 0 0 32px;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 400;
}
.story-text {
    width: 700px;
    margin: 0 auto;
    padding: 0 0 90px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(22, 26, 33, 0.6);
}
.story-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

//---------------------------Slider-Section----------------------------------------

.slider-section {
    padding-top: 130px;
}
.slider-header {
}
.slider-title {
    font-size: 3.2rem;
    line-height: 3.2rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}
.slider-subtitle {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;
}
.slider-body {
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 3px;
}


//-------------------------Footer-Section----------------------------------------------
.footer-section {
    padding: 63px 16px 0;
    background-color: #f8f7f4;
}

//Section01

.footer-section01 {
    padding: 0 0 80px;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.boxInput {
    width: 33.333%;
    flex: 0 0 33.333%;
}

.formWrapper {
    .form-title {
        text-align: left;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.4rem;
        letter-spacing: 0.02em;
        color: #161a21;
        padding: 0 0 32px;
        margin: 0;
    }

    .input-information {
        display: flex;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 12px;
        overflow: hidden;
        justify-content: space-between;
    }

    .input-select-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;

        span {
            font-size: 1.2rem;
            position: relative;
            line-height: 1.2re;
            letter-spacing: 0.02em;
            color: red;
            top: -3px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 60%;
            transform: translateY(-50%);
            width: 7px;
            height: 4px;
            right: 12px;
            background-image: url(https://curnonwatch.com/_next/static/media/icon_right_form.62294124.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .input-select {
        background: #f8f7f4;
        border: 1px solid #d6d6d4;
        width: 100%;
        padding: 15px;
        font-size: 1.4rem;
        line-height: 1.4rem;
        letter-spacing: 0.02em;
        appearance: none;
    }

    .input-name-container {
        width: 67%;

        .input-name {
            background: #f8f7f4;
            width: 100%;
            font-size: 1.4rem;
            line-height: 1.4rem;
            letter-spacing: 0.02em;
            color: #161a21;
            padding: 13px;
            border: 1px solid #d6d6d4;
            overflow: visible;
        }
    }

    .input-email-container {
        width: 100%;
        margin-bottom: 12px;
        overflow: hidden;

        .input-email {
            width: 100%;
            background: #f8f7f4;
            font-size: 1.4rem;
            line-height: 1.4rem;
            letter-spacing: 0.02em;
            color: #161a21;
            padding: 13px;
            border: 1px solid #d6d6d4;
            overflow: visible;
        }
    }

    .submit-form-btn {
        opacity: 0.5;
        cursor: pointer;
        width: 100%;
        background: #161a21;
        border: none;
        padding: 18px 0;
        margin: 5px 0 0;
        transition: 0.3s ease-out;

        .submit-form-text {
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.4rem;
            text-align: center;
            letter-spacing: -0.02em;
            color: #f8f7f4;
        }

        &:hover .submit-form-text {
            color: #d6d6d4;
        }
    }
}

.boxContact {
    padding: 0 0 0 9.9%;
    width: 33.333%;
    flex: 0 0 33.333%;
}

.boxContact-title {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 0.02em;
    padding: 0 0 32px;
    color: #161a21;
    margin: 0;
}

.boxContact-content {
    .boxContact-text {
        padding: 0 0 22px;
        margin: 0;
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.02em;
        color: #161a21;
    }

    .boxContact-iconSocial {
        padding: 2px 0 14px;

        .icon-social {
            display: inline-block;
            padding: 0 16px 0 0;
            margin: 0;
        }
    }

    .boxContact-iconPay {
        position: relative;
        top: 40px;
        display: flex;

        .imgPay {
            padding: 0 10px 0 0;

            img {
                max-width: 50px;
            }
        }
    }
}

.boxStore {
    display: unset;
    padding: 0 0 0 70px;
    width: 33.333%;
    flex: 0 0 33.333%;
}

.boxStore-title {
    padding: 0 0 32px;
    margin: 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 0.02em;
    color: #161a21;
}
.boxStore-content {
    padding: 0 0 40px;

    .boxStore-address {
        padding: 0 0 22px;
        margin: 0;
        font-size: 1.4rem;
        line-height: 1.4rem;
        letter-spacing: 0.02em;
        color: #161a21;
    }
}

//Section02
.footer-section02 {
    padding: 25px 16px;
    background: #ecebea;
    margin: 0 -16px;
}

.section02-container {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
}

.section02-leftBoxContent {
    display: flex;
    align-items: center;
    overflow: auto;
    justify-content: center;
}

.leftBoxContent-list {
    padding: 0;
    display: -webkit-inline-box;
}

.leftBoxContent-item {
    margin: 0 50px 0 0;
    padding: 0 5px 2px;
    transition: all 0.3s ease;
    border-bottom: 1px solid transparent;

    &:hover {
        border-bottom: 1px solid #000;
    }
    &:hover .leftBoxContent-link {
        color: #000;
    }
}

.leftBoxContent-link {
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #161a21;
    transition: all 0.3s ease;
}

.section02-rightBoxContent {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.rightBoxContent-service {
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 0.02em;
    color: #161a21;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    padding: 0 5px 2px;
    border-bottom: 1px solid transparent;

    &:hover {
        border-bottom: 1px solid #000;
        color: #000;
    }
}

.rightBoxContent-aline {
    height: 28px;
    width: 1px;
    background: #161a21;
    margin: 0 16px;
}

//-----------Section03-----

.footer-section03 {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px 0;
}

.section03-copyright {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: left;
    letter-spacing: 0.02em;
    color: #161a21;
    padding: 0;
    margin: 0;
}

.section03-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 16px 0 32px;
    margin: 0;
    letter-spacing: 0.02em;
    text-align: left;
    width: 530px;
    color: #161a21;
}

.section03-img {
    display: flex;
    margin: auto;
}

//---------------SrollTop Button----------------

.scrollToTop {
    position: relative;
}

.scrollToTop-btn {
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 19;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    background-color: #000;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        animation: none;
        opacity: 1;
    }
}

.topArrowIcon {
    transform: rotate(-90deg);
}

//----------------------Mobile-------------------------

@media only screen  and (max-width:768px){
    .banner-section-content-right{
        display: none;
    }
    .banner-section-content-left{
        width: 100%;
    }
    
    .pretitle-content-left{
        font-size: 1.4rem;
        line-height: 1.4rem;
    }

    .title-content-left{
        font-size: 3.2rem;
        line-height: 3.2rem;
    }

    .description-content-left{
        margin-bottom: 24px;
    }

    .link-content-left{
        min-width: 160px;
    }
    
    .bestSeller-title {
        font-size: 2rem;
        line-height: 2rem;
        padding: 0 0 20px;
        font-weight: 500;
    }

    .bestSeller-seeAll {
        margin-bottom: 36px;
    }
}

@media only screen  and (max-width:1024px){
    .policy-section{
        padding: 18px 0;
    }

    .policy-container-desktop{
        display: none;
    }

    .policy-container-mobile{
        display: flex;
    }

    .category-section{
        padding-top: 16px;
    }

    .category-container{
        flex-wrap: wrap;
    }

    .category-link {
        height: 190px;
        padding: 12px;
        width: 49.7%;
        & +.category-link {
            margin-left: 0px;
        }
    }

    .category-link-end {
        width: 100%;
        margin-top: 3px;
    }
    
    .category-content{
        display: block;
    }

    .category-text{
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.6rem;
        margin: 0;
        padding: 8px 0;
        text-transform: uppercase;
    }

    .category-btn{
        width: 20px;
        height: 20px;
        margin: 0 auto;
    }
    
    .menBestSeller-section {
        margin: 80px 0px;
    }
    
    .bestSeller-gallery {
        padding: 0 16px;
    }
}


