.productDetail-boxImage {
    width: 682px;
    padding-bottom: 30px;
}

.boxImage-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.thumbImage-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.thumbImage-item {
    width: 70px;
    padding-top: 25px;
    padding-bottom: 3px;
}

.thumbImage {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: #fff;
    object-fit: contain;
    object-position: center center;
}

.thumbImage.active {
    border: 1px solid #000 !important;
}

.mainImage-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}
.mainImage {
    display: none;
    width: 562px;
    height: 562px;
    object-fit: contain;
    object-position: center center;
    animation: fadeIn ease 0.5s;
}

.mainImage.active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

//-----------------------Mobile----------------------

@media only screen  and (max-width:1024px){
    .productDetail-boxImage {
        width: 100%;
        padding-bottom: 0px;
    }
    
    .boxImage-wrapper {
        flex-direction: column-reverse;
    }

    .thumbImage-list {
        flex-direction: row;
        margin-top: 30px;
    }

    .thumbImage-item {
        padding: 0px;

        & + .thumbImage-item {
            margin-left: 20px;
        }
    }
}

@media only screen  and (max-width:600px){
    .mainImage-wrapper {
        padding: 0px 3px;
    }

    .mainImage {
        width: auto;
        height: 450px;
    }
    .thumbImage-item {
        width: 65px;

    & + .thumbImage-item {
            margin-left: 15px;
        }
    }

    .thumbImage {
        height: 65px;
        width: 65px;
    }
}

@media only screen  and (max-width:495px){
    .mainImage {
        width: auto;
        height: 350px;
    }

    .thumbImage-item {
        width: 60px;

        & + .thumbImage-item {
            margin-left: 10px;
        }
    }

    .thumbImage {
        height: 60px;
        width: 60px;
    }
}


