.slider-btn-pre {
    position: absolute;
    left: -5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: unset;
    background: #f8f7f4;
    border: 1px solid #161a21;
    box-sizing: border-box;
    padding: 16px 18px;
    z-index: 9;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background: #161a21;
        color: #f8f7f4;
    }
}

.slider-btn-next {
    right: -5%;
    background: #f8f7f4;
    border: 1px solid #161a21;
    box-sizing: border-box;
    padding: 16px 18px;
    z-index: 9;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: unset;

    &:hover {
        background: #161a21;
        color: #f8f7f4;
    }
}

.product-item-wrapper {
    width: 100%;
    display: inline-block;
    padding: 30px 15px;
}

.product-item {
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 0px;
    position: relative;
    transition: all 0.5s;

    &:hover {
        box-shadow: rgb(0 0 0 / 15%) 0px 0px 40px;
    }

    &:hover .addToCart-btn {
        opacity: 1;
    }
}

.product-image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-image-container {
    position: relative;
}

.product-image-inner {
    overflow: hidden;
    position: relative;
    max-width: 100%;
}

.product-image {
    width: 100%;
    object-fit: contain;
    object-position: center center;
}

.addToCart {
    display: block;
    height: 0;
}

.addToCart-btn {
    transform: translateY(-100%);
    opacity: 0;
    width: 100%;
    height: 50px;
    background: #ecebea;
    border: 2px solid #f8f7f4;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0;
    color: #161a21;

    &:hover {
        background: #161a21;
        color: #f8f7f4;
    }

    span {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.4rem;
        letter-spacing: -0.02em;
        text-align: center;
    }
}

.product-name {
    .name-title {
        font-weight: 400;
        padding: 0;
        margin: 12px 0 0;
        font-size: 1.6rem;
        line-height: 1.8rem;
        text-align: center;
        letter-spacing: 0.02em;
        color: #000;
        text-transform: uppercase;
    }
}

.product-price {
    padding: 12px 0 16px;
    margin: 0 auto;
    text-align: center;
}

.price-number {
    color: #161a21;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.6rem;
}
//-----------------Mobile---------------------
@media only screen  and (max-width:1300px){
    .slider-btn-next {
        right: 0%;
    }

    .slider-btn-pre {
        left: 0%;
    }
}

@media only screen  and (max-width:1200px){
    .slider-btn-next {
        transform: translateY(0%);
        top: unset;
        padding: 13px 18px;
        bottom: -13%;
        right: 38%;
    }

    .slider-btn-pre {

        left: 38%;
        top: unset;
        transform: translateY(0%);
        bottom: -13%;
        padding: 13px 18px;
    }
}


@media only screen  and (max-width:768px){
    .slider-btn-next {
        right: 33%;
    }

    .slider-btn-pre {
        left: 33%;
    }

    .addToCart-btn {
        height: 32px;
        span {
            font-size: 1.2rem;
            line-height: 1.2rem;
        }
    }

    .product-name {
        .name-title {
            font-size: 1.4rem;
            line-height: 1.6rem;
        }
    }

    .price-number {
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
}