.productInfo-wrapper-destop{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.productInfo-wrapper-moblie{
    display: none;
}

.section-title-container{
    outline: none;
    cursor: pointer;
    display: block;
    width: 100%;
    background-color: transparent;
    text-align: left;
    padding: 20px 0;
    border: none;
    border-bottom: 1px solid #d6d6d4;
}

.section-title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-titleText{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: .02em;
    color: #161a21;
    margin: 0;
    padding: 0;
}

.section-contents-container{
    display: block;
    height: 0px;
    overflow: hidden;
   
}

.section-contents-container.active{
    height: auto;
}

.productInfo-inner{
    font-size: 1.6rem;
    line-height: 2.4rem;
    background-color: rgb(255, 255, 255);
    color: rgb(68, 68, 68);
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.productInfo-container{
    display: flex;
    max-width: 100%;
    background-color: rgb(248, 247, 244);
    color: rgb(68, 68, 68);
    min-width: 0px;
    min-height: 0px;
    flex-direction: column;
}

.productInfo-title-wrapper{
    display: flex;
    max-width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.33);
    min-width: 0px;
    min-height: 0px;
    flex-direction: column;
    flex: 0 0 auto;
}

.productInfo-title-list{
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 2px solid rgb(214, 214, 212);
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0px;
    min-height: 0px;
    flex-direction: row;
    flex: 0 0 auto;
    overflow: visible;
}

.productInfo-title-item{
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    font: inherit;
    text-decoration: none;
    margin: 0px;
    background: transparent;
    overflow: visible;
    text-transform: none;
    color: inherit;
    outline: none;
    border: none;
    padding: 0px;
    text-align: inherit;
}

.title-item-wrapper{
    white-space: nowrap;
    margin: -2px 0px;
    display: flex;
    max-width: 100%;
    background-color: rgb(248, 247, 244);
    color: rgb(68, 68, 68);
    border-bottom: 2px solid rgb(214, 214, 212);
    min-width: 0px;
    min-height: 0px;
    flex-direction: column;
    padding: 12px;

    &:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
    }
}

.title-item-wrapper.active{
    border-bottom: 2px solid rgb(0, 0, 0);
}

.title-item-text{
    padding: 10px 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: .02em;
    color: rgb(22, 26, 33);
}

@keyframes Slidedown {
    from {
        height: 0;
    }
    to {
        height: auto;
    }
}

//----------------------Mobile-----------------

@media only screen  and (max-width:1140px){
    .title-item-text{
        padding: 5px 10px;
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
}

@media only screen  and (max-width:1024px){
    .productInfo-wrapper-destop{
        display: none;
    }

    .productInfo-wrapper-moblie{
        display: block;
    }
}


