.wrapper{
    padding: 20px 0 20px 16px;
}
.boxContent{

}
.title{
    display: list-item;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: .02em;
    color: #161a21;
    margin: 14px 0;
}
.content{

}
.textLi{
    line-height: 2.2rem;
    padding: 3px 0;
    margin: 0;
    font-size: 1.4rem;
    letter-spacing: .02em;
    color: #161a21;

    span{
        font-weight: 600;
    }
}

@media only screen  and (max-width:1024px){
    .wrapper{
        padding: 0px 0px 0px 16px;
    }
    
}
